<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>


<% if user_signed_in? %>
  <h1>Welcome home, <%= current_user.email %> </h1>
  <%= link_to "Find running buddy", new_run_path %>
  <%= button_to 'Sign out', destroy_user_session_path, method: :delete %>
<% else %>
  <h1>Home, but actually the pages index page</h1>
  <%= link_to 'Sign in', new_user_session_path %>
<% end %>